.fon{
    color: #fff;
}
.acontainer{
    width: 100%;
    height: 100vh;
    background: url('../thoranimated2.jpg') no-repeat center center/cover;
    /* opacity: -0.80; */
    overflow-x: hidden;
}
.arow{
    display: flex;
    height: 85%;
    align-items: center;
}
.acol{
    margin:0px 70px;
    flex-basis: 40%;
}
.acol h1{
    /* color: #fff; */
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color:#fff; */
    font-size: 4rem;
    font-family: 'Baloo 2', cursive;
    transition: all .2s ease-in-out;
}
h1{
    /* color: #fff; */
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color:#fff; */
    font-size: 4.5rem;
    font-family: 'Baloo 2', cursive;
    transition: all .2s ease-in-out;
}
h5{
    color: #b4b4c6;
    font-size: 20px;
    opacity: 0;
}
p{
    color: #b4b4c6;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Bree Serif', serif;
}

button{
    width: 150px;
    color: #14146b;
    font-size: 25px;
    padding: 5px 0px;
    font-weight: bold;
    border-radius: 25px;
    margin: 10px 0px;
    outline: none;
    opacity: 0;
}
button:hover{
    background-color: #14146b;
    color: #b4b4c6;
}
.pimg1{
    background: url('/MOON-KNIGHT-MARVEL.jpg');
    min-height: 500px;
  
}
.pimg2{
    background: url('/doctor-strange.jpg');
    min-height: 500px;
}
.pimg1, .pimg2{
    position: relative;
    /* opacity: 0.7; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section{
    margin: 30px 30px;
}
h2{
    font-size: 30px;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    color: #10051f;
    display: inline-block;
    margin: 30px 0px;
}
.line{
    background-color: #10051f;

}
.btxt{
    width: 465px;
    margin: auto;
}
.line h1{
    color: #fff;
    font-size: 35px;
    padding: 30px 15px;
}
.slide-left{
    animation: slidelft 1s linear forwards;
}
@keyframes slidelft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
h5.slide-left{
    animation-delay: 1s;
}
button.slide-left{
    animation-delay: 2s;
}
